@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';


.project {
  color: $white-color;
  width: 47%;
  margin: 5% 1.5%;

  &__title {
    margin-bottom: 0;
  }

  &__link {
    color: $white-color;
    text-decoration: none;
    margin-right: 1rem;
  }
}