@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';


.project {
  color: $white-color;
  width: 47%;
  margin: 5% 1.5%;

  &__image {
    width: 95%;
  }

  &__title {
    margin-bottom: 0.5rem;
/*     font-size: 3.2rem; */
  }

  &__info {
    font-size: 2rem;
    font-weight: 400;
  }

  &__technology {
    font-weight: 300;
  }
  
  &__link {
    color: $white-color;
    text-decoration: none;
    display: inline-block;
    margin-right: 2rem;
/*     font-weight: 550; */
    margin-bottom: 2rem;
    font-weight: 300;


    &:after {
    content: "";
    display: block;
    height: 0.5rem;
    width: 0%;
    background-color: #fdda00;
    transition: 0.5s ease all;
    }

    &:hover::after {
      width: 100%;
      transition: 0.5s ease all;
    }
  }
}