@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.navbar {
  @include flex(flex, row, wrap, flex-end, center,);
  width: 100%;
  padding: 1rem 15rem;
  position: absolute;
  top: 0;

  &__links {
    width: 30%;
    @include flex(flex, row, wrap, space-between, center)
  }

  &__link {
    color: $secondary-color;
    text-decoration: none;
    font-size: 1.6rem;

    &:after {
      content: "";
      display: block;
      height: 0.5rem;
      width: 0%;
      background-color: #fdda00;
      transition: 0.5s ease all;
    }

    &:hover::after {
      width: 100%;
      transition: 0.5s ease all;
    }


  }
}