@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.navbar {
  @include flex(flex, row, wrap, flex-end, center,);
  width: 100%;
  padding: 1rem 15rem;
  position: absolute;
  top: 0;
  height: 5rem;
  
  @media (max-width: 768px) {
    padding-right: 3rem;
  }



  &__ul {
    @include flex(flex, row, wrap, flex-end, center);
    width: 70%;

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 50px
    }
  }

  &__li {
    padding: 0 1rem;
    list-style: none;
  }

  &__links {
    width: 30%;
    @include flex(flex, row, wrap, space-between, center)
  }

  &__link {
    color: $secondary-color;
    text-decoration: none;
    font-size: 1.6rem;

    &:hover {
      @media (max-width: 768px) {
        font-weight: 600;
      }
    }

    &:after {
      content: "";
      display: block;
      height: 0.5rem;
      width: 0%;
      background-color: #fdda00;
      transition: 0.5s ease all;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:hover::after {
      width: 100%;
      transition: 0.5s ease all;
    }


  }
}