@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.footer {
  @include flex(flex, row, wrap, space-between, center);
  background-color: $main-color;
  padding: 0.5rem 15rem;

  &__copyright {
    color: $secondary-color;
    font-size: 1.6rem;
    text-align: left;

    margin: 0;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
    text-align: right;
  }

  &__link {
    margin: 0 0.5rem;
    color: $secondary-color;

    &:hover {
      color: $white-color;
    }
  }
}