@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';


.header {
/*   background-color: $main-color; */
  background: linear-gradient(
      to left,
      $grey-color 0%,
      $grey-color  50%,
      $main-color 50%,
      $main-color 100%
    );
  height: 75vh;
  display: flex;
  align-items: center;
  padding: 0 10rem;

  &__title {
    display: flex;
    align-items: center;
    font-size: 10rem;
    font-weight: 900;
    margin: 0;
    padding: 0;

    &::before {
      content: '{';
      font-size: 50rem;
      font-weight: 400;
      margin-top: -7%
    }
  }
}

.about {
  @include flex(flex, row, wrap, flex-start, center);
  padding: 15rem 0;

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
    text-align: left; 
  }

  &__title {
    text-transform: uppercase;
  }
}


.portfolio {
  background-color: $secondary-color;
  padding: 10rem 0;

  &__title {
    color: $main-color;
    margin-bottom: 0;
  }

  &__intro {
    color: $white-color
  }

  &__items {
    @include flex(flex, row, wrap, flex-start, flex-start);
  }
}