/* VARIABLES */
$main-color: #FEDB04;
$secondary-color: #111111;
$white-color: #ffffff;

$grey-color: #FCFCFC;




/* FONTS */
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;